#scanner{
    .title__wrapper span{
        font-size: 8px;
        padding-top: 12px;
    }
    .scanner_container{
        margin: 0 auto;
        max-width:500px;
        height: auto;
    }
    .desc{
        font-size: 22px;
        font-weight: 600;
    }
}